aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  color: #402B3A;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    color: #402B3A;

    &>span {
      margin-top: 6px;
    }

    &--title {
      font-size: 18px;
      font-weight: 700;
    }

    &>img {
      width: 50px;
      height: 50px;
      margin-left: 1em;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 1rem;
  }

  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__item {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    cursor: pointer;

    &::before {
      content: "";
      width: 5px;
      height: 32px;
      margin-right: 0.5em;
      border-radius: 120px;
      background-color: transparent;
      box-sizing: border-box;
      box-shadow: transparent;
    }

    &--active {
      .menu__circle {
        border-color: #402B3A;
      }
      .menu__icon {
        color: #402B3A;
        filter: drop-shadow(3px 3px 8px #FF9BD2) drop-shadow(-3px -3px 8px #FF9BD2);
      }

      &::before {
        background-color: #402B3A;
        box-shadow: 0px 0px 8px #402B3A;
      }

      .menu__title {
        font-weight: 700;
      }
    }
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1.5px solid #402B3A
    ;

    &:hover {
      .menu__icon {
        filter: drop-shadow(3px 3px 8px #FF9BD2) drop-shadow(-3px -3px 8px #FF9BD2);
      }
    }
  }

  &__icon {
    width: 24px;
    color: #402B3A;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    >ul {
      padding: 0;
      display: grid;
      place-content: center;
    }
    &__header {
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &>span {
        display: none;
      }

      &>img {
        width: 40px;
        height: 40px;
        margin-left: 0;
      }
    }

    &__item {
      &::before {
        display: none;
      }
    }

    &__title {
      display: none;
    }

    &__container {
      margin: 0;
      padding: 0;
    }
  }

}
