.ngx-charts-outer {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px){
  .ngx-charts-outer {
    display: none;
  }

  .total-value {
    font-size: 26px !important;
  }

  .item-value {
    font-size: 26px !important;
  }

  .item-percent {
    font-size: 16px !important;
  }
}
