<div [className]="expense.category !== 'Ahorros e Inversiones'? 'expense__container loss': 'expense__container profit'">
  <div class="expense__header">
    <p class="expense__header--category">{{expense.category}}</p>
    <div class="expense__header--icon">
      <mat-icon (click)="openDialog()">
        close
      </mat-icon>
    </div>
  </div>
  <p class="expense__content--amount">
    {{expense.amount | currency: 'USD': 'symbol': '1.0-0'}}
  </p>
  <p class="expense__content--description">
    {{expense.description}}
  </p>
</div>
