.button {
  background-color: #FF9BD2;
  color: #402B3A;
  border: none;
  border-radius: 20px;
  padding: 12px 40px;

  font-weight: bold;
  font-size: 14px;

  &:hover:not(.button-disabled) {
    background-color: #D63484;
    color: #F8F4EC;
    cursor: pointer;
  }

  &-disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
  }
}
