.button {
  background-color: #D76CD9;
  color: #F2F2F2;
  border: none;
  border-radius: 20px;
  padding: 12px 40px;

  font-weight: bold;
  font-size: 14px;

  &:hover:not(.button-disabled) {
    background-color: #8B458C;
    cursor: pointer;
  }

  &-disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
  }
}
